<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("nav") %>
    <section class="sform">
        <form action="/user/signup" method="post" id="form">
            <label for="username">Username : </label>
            <input type="text" name="username" id="username"><br><br>
            <label for="email">Email : </label>
            <input type="email" name="email" id="email"><br><br>
            <label for="password">Password : </label>
            <input type="text" name="password" id="password"><br><br>
            <label for="role">Role : </label>
            <select name="role" id="role">
                <option value="user">user</option>
                <option value="admin">admin</option>
            </select><br><br>
            <input type="submit" value="Sign Up" class="signsub">
        </form>
    </section>
</body>
</html>